/*main-productos*/
.main-productos{
    %estilos{
        h2{
            width: $medida-principal;
            height: 40px;
            text-align: center;
            padding: 5px 5px 5px 5px;
        }
        .container-productos{
            width: $medida-principal;
            @include flex(wrap, center, center);
            //display: flex;
            //flex-wrap: wrap;
            padding-bottom: 15px;
            //justify-content: center;
            display: grid;
            grid-template-areas: 
            'frutossecos especias sintacc diabeticos'
            'legumbres semillas granola otros';
            .frutos-secos{
                grid-area: frutossecos;
                padding: $medida-secundaria;
            }
            .especias{
                grid-area: especias;
                padding: $medida-secundaria;
            }
            .sin-tacc{
                grid-area: sintacc;
                padding: $medida-secundaria;
            }
            .apto-diabeticos{
                grid-area: diabeticos;
                padding: $medida-secundaria;
            }
            .legumbres{
                grid-area: legumbres;
                padding: $medida-secundaria;
            }
            .semillas{
                grid-area: semillas;
                padding: $medida-secundaria;
            }
            .granola{
                grid-area: granola;
                padding: $medida-secundaria;
            }
            .otros{
                grid-area: otros;
                padding: $medida-secundaria; 
            }
            div img{
                width: 200px;
            }
        }
    }
} 

