/*Media Queries*/
/*Header*/
@media screen and (max-width: 991px){
    .container-nav{
        .container-fluid{
            .menu{
                background-color: $color-terciario;
                width: $medida-principal;
            }
        }
    }
}

/*main-index*/
@media screen and (max-width: 500px) {
    .main-index{
        .productos-destacados{
            div{
                img{
                    width: 120px;
                }
            }
        }
    }
}
/*main-productos*/
@media screen and (max-width: 430px){
    .main-productos{
        .container-productos{
            display: flex;
            div{
                img{
                    width: 150px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    .main-productos{
        container-productos{
            display: flex;
        }
    }
}
/*main-recetas*/
@media screen and (max-width:500px) {
    .main-recetas{
        .container-barritas{
            display: flex;
            .video-barritas iframe{
                width: auto ;
            }
        }
        .container-pudines{
            display: flex;
            .video-pudines iframe{
                width: auto;
            }
        }
    }
}
/*main-recetas*/
@media screen and (max-width:480px) {
    .main-recetas{
        .container-barritas{
            display: flex;
            flex-direction: column;
            .video-barritas{
                iframe{
                    width: auto ;
                }
            }
            .paso-a-paso-barritas{
                width: 90%;
                div{
                    ol{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        .container-pudines{
            display: flex;
            flex-direction: column;
            .video-pudines{
                iframe{
                    width: auto;
                }
            }
            .paso-a-paso-pudines{
                width: 90%;
                div{
                    ol{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
/*main-contacto*/
@media screen and (max-width: 480px){
    .container-contacto{
        .section-contacto{
            display: flex;
            .container-text-contacto{
                font-size:small;
            }
        }
    }
}
/*footer*/
@media screen and (max-width:500px){
    footer{
        section{
            .div-mapa{
                display:none;
            }
            .container-newsletter{
                padding-left: $medida-secundaria;
                padding-bottom: $medida-secundaria;
            }
        }
    }
}
