/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Fuente*/
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #efdc97;
}

/*Header*/
.container-nav {
  background-color: #f9f5e8;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container-nav .navbar-expand-lg .container-fluid {
  background-color: #f9f5e8;
}
.container-nav .navbar {
  background-color: #f9f5e8;
  width: 100%;
}
.container-nav .logo {
  width: 50px;
  height: 50px;
}
.container-nav .menu-icon {
  background-image: url(./../img/hamburger-menu.svg);
}
.container-nav .menu-button {
  border: none;
}
.container-nav .menu-button:focus {
  box-shadow: none;
}
.container-nav .menu {
  column-gap: 10px;
  align-items: center;
  width: 100%;
  flex-grow: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.container-nav .menu .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.container-nav .menu .menu-ul {
  column-gap: 10px;
  align-items: center;
}
.container-nav .menu ul li a {
  color: #6a964c;
  font-size: 18px;
  text-decoration: none;
}
.container-nav .menu ul li a:hover {
  color: black;
  text-decoration: underline;
}

/*main-index*/
h1 {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

.banner-index img {
  width: 100%;
  background-color: #efdc97;
}

.productos-destacados {
  background-color: #d3a644;
}
.productos-destacados div {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.productos-destacados div img {
  width: 150px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.productos-destacados h2 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*main-productos*/
main h2 {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.container-productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  justify-content: center;
  display: grid;
  grid-template-areas: "frutossecos especias sintacc diabeticos" "legumbres semillas granola otros";
}
.container-productos .frutos-secos {
  grid-area: frutossecos;
  padding: 10px;
}
.container-productos .especias {
  grid-area: especias;
  padding: 10px;
}
.container-productos .sin-tacc {
  grid-area: sintacc;
  padding: 10px;
}
.container-productos .apto-diabeticos {
  grid-area: diabeticos;
  padding: 10px;
}
.container-productos .legumbres {
  grid-area: legumbres;
  padding: 10px;
}
.container-productos .semillas {
  grid-area: semillas;
  padding: 10px;
}
.container-productos .granola {
  grid-area: granola;
  padding: 10px;
}
.container-productos .otros {
  grid-area: otros;
  padding: 10px;
}
.container-productos div img {
  width: 200px;
}

/*main-recetas*/
.container-barritas {
  padding-left: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "titulobarritas titulobarritas" "videobarritas ingredientesbarritas" "pasoapasobarritas pasoapasobarritas";
}
.container-barritas .titulo-barritas {
  grid-area: titulobarritas;
  text-align: left;
}
.container-barritas .video-barritas {
  grid-area: videobarritas;
}
.container-barritas .ingredientes-barritas {
  grid-area: ingredientesbarritas;
  display: grid;
  justify-content: center;
}
.container-barritas .paso-a-paso-barritas {
  grid-area: pasoapasobarritas;
  padding-left: 20px;
  width: 70%;
  padding-top: 10px;
}

.container-pudines {
  padding-left: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "titulopudines titulopudines" "videopudines ingredientespudines" "pasoapasopudines pasoapasopudines";
}
.container-pudines .titulo-pudines {
  text-align: left;
  grid-area: titulopudines;
}
.container-pudines .video-pudines {
  grid-area: videopudines;
}
.container-pudines .ingredientes-pudines {
  grid-area: ingredientespudines;
  display: grid;
  justify-content: center;
}
.container-pudines .paso-a-paso-pudines {
  grid-area: pasoapasopudines;
  padding-left: 20px;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*main-nutrimarket-te-escucha*/
.texto {
  width: 80%;
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
}

.container-form-escucha {
  width: 90%;
  padding-left: 30px;
}
.container-form-escucha .button1 {
  background-color: #6a964c;
  color: white;
  padding: 2px 2px 2px 2px;
  font-size: 20px;
  border: 2px solid #6a964c;
  border-radius: 20px 20px;
}
.container-form-escucha .button1:hover {
  border: 2px solid #efdc97;
  color: #efdc97;
}

/*main-contacto*/
.contenedor-contacto {
  display: grid;
  justify-content: center;
  grid-template-areas: "titulo titulo" "containerform containertexto";
}
.contenedor-contacto .titulo-contacto {
  grid-area: titulo;
}
.contenedor-contacto .container-form {
  grid-area: containerform;
}
.contenedor-contacto .container-text-contacto {
  grid-area: containertexto;
  justify-items: center;
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 50px;
}
.contenedor-contacto .container-text-contacto .atencion-telefonica {
  padding-bottom: 15px;
}
.contenedor-contacto .container-text-contacto .atencion-telefonica h3 {
  text-decoration: underline;
}
.contenedor-contacto .container-text-contacto .mail-contacto {
  padding-bottom: 15px;
}
.contenedor-contacto .container-text-contacto .mail-contacto h3 {
  text-decoration: underline;
}
.contenedor-contacto .container-text-contacto .mail-nutri-escucha {
  padding-bottom: 15px;
}
.contenedor-contacto .container-text-contacto .mail-nutri-escucha h3 {
  text-decoration: underline;
}
.contenedor-contacto .container-text-contacto .consulta {
  padding-top: 5px;
}

/*footer*/
footer {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #6a964c;
  display: flex;
  justify-content: center;
}
footer section {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
}
footer .container-mapa-del-sitio h3 {
  text-align: center;
}
footer .container-mapa-del-sitio h3 .div-mapa ul li {
  list-style: none;
}
footer .container-mapa-del-sitio h3 .div-mapa ul li a {
  color: black;
  text-decoration: none;
}
footer .container-mapa-del-sitio h3 .div-mapa ul li a:hover {
  text-decoration: underline;
}
footer .container-contacto h3 {
  text-align: center;
}
footer .container-newsletter h3 {
  text-align: center;
}
footer .container-newsletter h3 .button2 {
  background-color: #efdc97;
  color: #294d2b;
  padding: 2px 2px 2px 2px;
  font-size: 20px;
  border-radius: 20px 20px;
  border: 2px solid #6a964c;
}
footer .container-newsletter h3 .button2:hover {
  color: #6a964c;
}
footer .container-newsletter h3 .email-footer {
  width: 150px;
}

/*Media Queries*/
/*Header*/
@media screen and (max-width: 991px) {
  .container-nav .container-fluid .menu {
    background-color: #f9f5e8;
    width: 100vw;
  }
}
/*main-index*/
@media screen and (max-width: 500px) {
  .main-index .productos-destacados div img {
    width: 100px;
  }
}
/*main-productos*/
@media screen and (max-width: 430px) {
  .main-productos .container-productos {
    display: flex;
  }
  .main-productos .container-productos div img {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .main-productos container-productos {
    display: flex;
  }
}
/*main-recetas*/
@media screen and (max-width: 500px) {
  .main-recetas .container-barritas {
    display: flex;
  }
  .main-recetas .container-barritas .video-barritas iframe {
    width: auto;
  }
  .main-recetas .container-pudines {
    display: flex;
  }
  .main-recetas .container-pudines .video-pudines iframe {
    width: auto;
  }
}
/*main-contacto*/
@media screen and (max-width: 480px) {
  .container-contacto .section-contacto {
    display: flex;
  }
  .container-contacto .section-contacto .container-text-contacto {
    font-size: small;
  }
}
/*footer*/
@media screen and (max-width: 500px) {
  footer section .container-mapa-del-sitio {
    display: none;
  }
  footer section .container-newsletter {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
