/*Fuente
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
*/ 

/*reset
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} */

/*main{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #efdc97;
}*/

/*header con bootstrap*/
/*.container-nav {
    background-color: #f9f5e8;
    position: sticky;
    top: 0;
    z-index: 1;
}*/
/*.navbar .navbar-expand-lg {
    background-color: #f9f5e8;
}
.container-fluid{
    background-color: #f9f5e8;
}*/
/*.logo{
    width: 50px;
    height: 50px; 
}
.nav-bar{
    width: 100%;
}*/
/*.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}*/
/*.menu{
    column-gap: 10px;
    align-items: center;
    width: 100%;
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}*/
/*.menu-ul{
    column-gap: 10px;
    align-items: center;
}
.menu ul li a{
    color: #6a964c;
    font-size: 18px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: black;
    text-decoration: underline;
}
/*.menu-icon{
    background-image: url(./../img/hamburger-menu.svg);
}
.menu-button{
    border: none;
}
.menu-button:focus{
    box-shadow: none;
}
@media screen and (max-width: 991px){
    .menu{
        background-color: #f9f5e8;
        width: 100vw;
    }
}

/*main-index*/

/*h1{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    text-align: center;
    padding: 2px 2px 2px 2px;
}
.banner-index img{
    width: 100%;
    background-color: #efdc97;
}
@media screen and (max-width: 500px) {
    .productos-destacados div img{
        width: 100px;
    }
}
/*.productos-destacados{
    background-color: #d3a644;
}
.productos-destacados div img{
    width: 150px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.productos-destacados h2{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.productos-destacados div{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}*/

/*main-productos*/

/*main h2{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
main section{
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.container-productos div img{
    width: 200px;
}
.container-productos{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    'frutossecos especias sintacc diabeticos'
    'legumbres semillas granola otros';
}
.frutos-secos{
    grid-area: frutossecos;
    padding: 10px;
}
.especias{
    grid-area: especias;
    padding: 10px;
}
.sin-tacc{
    grid-area: sintacc;
    padding: 10px;
}
.apto-diabeticos{
    grid-area: diabeticos;
    padding: 10px;
}
.legumbres{
    grid-area: legumbres;
    padding: 10px;
}
.semillas{
    grid-area: semillas;
    padding: 10px;
}
.granola{
    grid-area: granola;
    padding: 10px;
}
.otros{
    grid-area: otros;
    padding: 10px; 
}
@media screen and (max-width: 430px){
    .container-productos{
        display: flex;
    }
    .container-productos div img{
        width: 150px;
    }
}
@media screen and (max-width: 500px){
    .container-productos{
        display: flex;
    }
}


/*main-recetas*/
/*.container-barritas{
    padding-left: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'titulobarritas titulobarritas'
    'videobarritas ingredientesbarritas'
    'pasoapasobarritas pasoapasobarritas';
}
.titulo-barritas{
    grid-area: titulobarritas;
    text-align: left;
}
.video-barritas{
    grid-area: videobarritas;
}
.ingredientes-barritas{
    grid-area: ingredientesbarritas;
    display: grid;
    justify-content: center;
}
.paso-a-paso-barritas{
    grid-area: pasoapasobarritas;
    padding-left: 20px;
    width: 70%;
    padding-top: 10px;
}*/
/*.container-pudines{
    padding-left: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    'titulopudines titulopudines'
    'videopudines ingredientespudines'
    'pasoapasopudines pasoapasopudines';
}
.titulo-pudines{
    text-align: left;
    grid-area: titulopudines;
}
.video-pudines{
    grid-area: videopudines;
}
.ingredientes-pudines{
    grid-area: ingredientespudines;
    display: grid;
    justify-content: center;
}
.paso-a-paso-pudines{
    grid-area: pasoapasopudines;
    padding-left: 20px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 20px;
}
@media screen and (max-width:500px) {
    .container-barritas{
        display: flex;
    }
    .video-barritas iframe{
        width: auto ;
    }
    .container-pudines{
        display: flex;
    }
    .video-pudines iframe{
        width: auto;
    }
}

/*main-nutrimarket-te-escucha*/

/*.texto{
    width: 80%;
    text-align:left;
    padding-left: 30px;
    padding-top: 20px;
}
.container-form-escucha{
    width: 90%;
    padding-left:30px ;
}
.button1{
    background-color: #6a964c;
    color: white;
    padding: 2px 2px 2px 2px;
    font-size: 20px;
    border: 2px solid #6a964c ;
    border-radius: 20px 20px;
}
.button1:hover{
    border: 2px solid #efdc97;
    color: #efdc97;
}*/

/*main-contacto*/
/*contenedor-contacto{
    display: grid;
    justify-content: center;
    grid-template-areas: 
        'titulo titulo'
        'containerform containertexto';
}
.titulo-contacto{
    grid-area: titulo;
}
.container-form{
    grid-area: containerform;
}
.container-text-contacto{
    grid-area: containertexto;
    justify-items: center;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 50px;
}
.atencion-telefonica h3{
    text-decoration: underline;
}
.atencion-telefonica{
    padding-bottom: 15px;
}
.mail-contacto h3{
    text-decoration: underline;
}
.mail-contacto{
    padding-bottom: 15px;
}
.mail-nutri-escucha h3{
    text-decoration: underline;
}
.mail-nutri-escucha{
    padding-bottom: 15px;
}
.consulta{
    padding-top: 5px;
}
@media screen and (max-width: 480px){
    .container-text-contacto{
        font-size:small;
    }
    .section-contacto{
        display: flex;
    }
}
/*footer*/

/*footer{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #6a964c;
    display: flex;
    justify-content: center;
}
footer section{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}
.container-mapa-del-sitio h3{
    text-align: center;
}
.container-contacto h3{
    text-align: center;
}
.container-newsletter h3{
    text-align: center;
}
.div-mapa ul li{
    list-style: none;
}
.div-mapa ul li a{
    color: black;
    text-decoration: none;
}
.div-mapa ul li a:hover{
    text-decoration: underline;
}
.button2{
    background-color: #efdc97;
    color: #294d2b;
    padding: 2px 2px 2px 2px;
    font-size: 20px;
    border-radius: 20px 20px;
    border: 2px solid #6a964c ;
}
.button2:hover{
    color: #6a964c;
}
.email-footer{
    width: 150px;
}
@media screen and (max-width:500px){
    .container-mapa-del-sitio{
        display:none;
    }
    .container-newsletter{
        padding-left: 10px;
        padding-bottom: 10px;
    }
}
